<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tang.mapper.BbsSortMapper">
	<resultMap type="cn.tang.pojo.BbsSort" id="mymap1">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<collection property="details" ofType="cn.tang.pojo.BbsDetail" >
			<id column="id" property="id"/>
			<result column="sortId" property="sortId"/>
			<result column="titile" property="titile"/>
			<result column="detail" property="detail"/>
			<result column="author" property="author"/>
			<result column="createDate" property="createDate"/>
			<result column="replyCount" property="replyCount"/>
		</collection>
	</resultMap>
	<select id="selAllById" resultMap="mymap1">
		SELECT s.`id`,d.`id`,s.`name`,d.`titile`,d.`detail`,d.`author`,d.`createDate`,d.`replyCount` FROM bbs_detail d,bbs_sort s WHERE d.`sortId`=s.`id`
		<if test="id!=0">
			and d.sortId=#{id}
		</if>
	</select>
	
</mapper>